/* ในไฟล์ App.css หรือไฟล์ CSS ที่คุณใช้ */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* จัดให้อยู่กึ่งกลางแนวตั้ง */
  margin: 0;
}

h1 {
  text-align: center;
}

.color1 {
  color: #09c196; 
}

.color-red {
  color: #EE2526; 
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* ช่องว่างระหว่างปุ่ม */
  margin-bottom: 20px; /* ระยะห่างจากส่วนหัว */
}

.get-location-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button {
  background-color: #03a680; /* สีเขียว */
  color: #E9EFEC;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px; /* เพิ่มระยะห่าง */
}

button:hover {
  background-color: #f25050; /* สีเมื่อ hover */
}

